{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMLN image editor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Exo', sans-serif;
        }
        body{
            min-width: 786px;
        }
    </style>
    {% block head %}
    {% endblock head %}
    <script src="https://kit.fontawesome.com/ba2e782af5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'drawing/css/home.css' %}">
    <link
        type="text/css"
        href="https://uicdn.toast.com/tui-color-picker/v2.2.6/tui-color-picker.css"
        rel="stylesheet"
    />
    <link type="text/css" href="{% static 'drawing/css/service-basic.css' %}" rel="stylesheet" />
</head>

<body bgcolor = "#393939" style="margin:0px;">
    <header>
        <div class="top">
            <div class="top-logo"><a href="index"><img src="{% static 'drawing/img/SMLN_logo.jpg' %}"></a></div>
            <div>
                <ul class="top-menu">
                    <li class="edit"><a href="editor">New Image Editor!</a></li>
                    <li><a href=''>{{user}}님!</a></li>
                    <li><a href="logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% block body %}
    {% endblock body %}
    <footer>
        <div id="footer_box">
            <!-- <div id="footer_logo">
                <img src="{% static 'drawing/img/SMLN_logo.jpg' %}">
            </div> -->
            <div id="address">
                <ul>
                    <li>서울시 강남구 삼성동 1234 우:123-1234</li>
                    <li>TEL:031-123-1234 Email:shg0102kr@hufs.ac.kr</li>
                    <li>COPYRIGHT (c) 모바일앱협동 ALL RIGHTS RESERVED</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>