{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SMLN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Exo', sans-serif;
        }
    </style>
    <script src="https://kit.fontawesome.com/ba2e782af5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'drawing/css/home.css' %}">
    <link rel="stylesheet"href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
</head>
<body bgcolor = "#393939">
    <div class="top">
        <div class="logo"><a href="#smln"><img src="{% static 'drawing/img/SMLN_logo.jpg' %}"></a></div>
    </div>
</body>
</html>