
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Image</title>
        <link
        rel="stylesheet"
        href="{% static 'drawing/css/canvas.css'%}"
        />

        <script type="text/javascript" src="https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js"></script>

        <script src="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.js"></script>

   
      
     
    </head>
    <body>

        <div id="tui-image-editor">
            
        </div>
 
        
        <script  src={% static 'drawing/js/base.js'%}>
        </script>         
            
        
        
        
        <button onClick='addShape_triangle()'>add triangle</button>
        <button onClick='addShape_circle()'>add circle</button>
        <button onClick='addIcon_arrow()'>add arrow</button>
        <button onClick='addText()'>add text</button>
        <button onClick="addShape_rect()">add rect</button>
    </body>
</html>