{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMLN image editor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Exo', sans-serif;
        }
        body{
            min-width: 786px;
        }
    </style>
    {% block head %}
    {% endblock head %}
    <script src="https://kit.fontawesome.com/ba2e782af5.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typeit@8.4.0/dist/index.umd.js"></script>
    <link rel="stylesheet" href="{% static 'drawing/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'drawing/css/page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'drawing/styles/theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'drawing/styles/style.css' %}">

    <title>SMLN Image Editor</title>
</head>
<body bgcolor = "#393939" style="margin:0px;">
    <header>
        <div class="top">
            <div class="top-logo"><a href="{% url 'index' %}"><img src="{% static 'drawing/img/SMLN_logo.jpg' %}"></a></div>

            <div>
                <ul class="top-menu">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}" >안녕하세요, {{user}}님!</a></li>
                    <a href="{% url 'profile' %}"><img src="{{ user.profile_pic.url}}"  width='30' height='30' style="border-radius:16px; display: inline-block;" ></a>
                    <li><a href="logout">로그아웃</a></li>
                    {% else %}
                    <li><a href="signup">회원가입</a></li>
                    <li><a href="login">로그인</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>


    <br><br>
        <h1 class="title" style="color: white; text-align: center;">Profile</h1>      
        <div class="profile-pic" style="text-align: center;"><img src="{{ user.profile_pic.url}}"  width='255' height='255' style="border-radius:16px; display: inline-block;" ></div>
        <h1 class="username" style="color: #F3D7D8; text-align: center;">{{ user}} 님</h1>
        <div class="content" style="margin: 0 auto; text-align: center; width: 320px; background-color: white; border-radius: 10px; border: solid 5px pink;">
            {% if user.intro %}
            <p class="cp-chip-intro" style="color:black;">{{ user.intro}}</p>
            {% else %}
            <p class="cp-chip-intro" style="color:black;">소개문구가 없습니다. 소개문구를 작성해주세요!</p>
            {% endif %}
        </div>
        <a style="text-align: center;" href="{% url 'profile-update' %}"><button class="gologin" type="submit" >프로필 수정</button></a>
        <a style="text-align: center;" href="{% url 'account_change_password' %}"><button class="gologin" type="submit"style="text-align: center;">비밀번호 변경</button></a>
<br><br><br>
  
</body>
</html>