{% extends '../drawing/base.html' %}
{% load static %}

{% block head %}
<style>
    .titleform > input{
        width: 500px;
        height: 40px;
        border: solid 5px pink;
        border-radius: 10px;
        padding: 5px;
    }
    .file-content > a{
        width:460px;
        height: 25px;
        border: solid 5px pink;
        border-radius: 10px;
        background-color: white;
        padding: 5px;
        line-height: 25px;
        display: inline-block;
        margin: 10px 0;
    }
    .file-content > input{
        width:460px;
        height: 25px;
        border: solid 5px pink;
        border-radius: 10px;
        background-color: white;
        padding: 5px;
    }
    .createcontent > textarea{
        width: 500px;
        height: 300px;
        border: solid 5px pink;
        border-radius: 10px;
        background-color: white;
        padding: 5px;
    }
    .submit > input{
        width: 520px;
        height: 50px;
        border-radius: 10px;
        padding: 5px;
        background-color: pink;
        color: white;
        font-size: 20px;
    }
    .submit > a{
        display:inline-block;
        width: 520px;
        height: 50px;
        border-radius: 10px;
        background-color: pink;
        color: white;
        font-size: 20px;
        line-height: 50px;
        margin-top: 5px;
    }
</style>
{% endblock head %}

{% block body %}
<div class="create-content" style="margin: 0 auto; text-align: center;">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="editor">
            <div class="title">
                <p class="titleform">{{form.title}}</p>
                {% for error in form.title.errors %}
                    <p class="error">{{error}}</p>
                {% endfor %}
            </div>
        

            <div class="file">
                <div class="podo-input file-input">
                    {% if post.image %}
                        <img style=width:500px; class="file-thumb" src="{{ post.image.url }}">
                    {% endif %}
                    <div class="file-content">
                        {{ form.image }}
                    </div>
                </div>
                
                {% for error in form.image.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
        
        

            <div class="content">
                <p class="createcontent">{{form.content}}</p>
                {% for error in form.content.errors %}
                    <p style="color: white;" class="error">{{error}}</p>
                {% endfor %}
            </div>
            <div class="submit">
                <input type="submit" value="작성완료"> 
            </div>
            <div class="submit">
                <a style="text-decoration: none; color:white; "href="{%url 'post-list'%}">돌아가기</a>
            </div>
        </div>
    </form>
</div>
{% endblock body %}





