{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SMLN image editor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Exo', sans-serif;
        }
</style>
    <script src="https://kit.fontawesome.com/ba2e782af5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'drawing/css/page.css' %}">
    <link rel="stylesheet" href="{% static 'drawing/css/home.css' %}">
</head>

<body bgcolor = "#393939" style="margin:0px;">
    <header>
        <div class="top">
          <div class="top-logo"><a href="{% url 'index' %}"><img src="{% static 'drawing/img/SMLN_마크2.jpg' %}"></a></div>
        </div>
    </header>

    <div class='mail-check'>
        비밀번호 재설정 메일이 전송되었습니다. 이메일을 확인하시고 안내를 따라주세요.
      </div>
    <button type="button" class="gopw-mail"><a href="{% url 'index'%}">홈으로 이동</a></button>
</body>
</html>
