{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SMLN | 비밀번호 찾기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Exo', sans-serif;
        }
</style>
    <script src="https://kit.fontawesome.com/ba2e782af5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'drawing/styles/theme.css' %}">
    <link rel="stylesheet" href="{% static 'drawing/css/page.css' %}">
</head>



<body bgcolor = "#393939" style="margin:0px;">
  <header>
      <div class="top">
        <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'drawing/img/SMLN_마크2.jpg' %}"></a></div>
      </div>
  </header>


  <main class="pwfound-form">
    <div class="title">
      <h1 class="heading" style="color: white;" >비밀번호 찾기</h1>
    </div>
  
    <form method="post">
      {% csrf_token %}
      <div>
        {{ form.email|add_class:"cp-input"|attr:"placeholder:가입시 등록한 이메일을 입력해 주세요."|add_error_class:"error" }}
        {% for error in form.email.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <button class="gopwfound" type="submit">이메일 보내기</button>
    </form>
  </main>

</body>
</html>
