
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SMLN | 비밀번호 재설정</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Exo', sans-serif;
        }
</style>
    <script src="https://kit.fontawesome.com/ba2e782af5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'drawing/css/page.css' %}">
</head>


<body bgcolor = "#393939" style="margin:0px;">
  <header>
      <div class="top">
        <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'drawing/img/SMLN_마크2.jpg' %}"></a></div>      </div>
  </header>

  
  <div class="pwfound-form">
      <h1 class="title" style="color: white;">비밀번호 재설정</h1>

      <form method="post">
        {% csrf_token %}
        <div>
          {{ form.password1|add_class:"text-field"|attr:"placeholder:새 비밀번호"|add_error_class:"error" }}
          {% for error in form.password1.errors %}
            <div class="error-message">{{ error }}</div>
          {% endfor %}
        </div>
        <div>
          {{ form.password2|add_class:"text-field"|attr:"placeholder:새 비밀번호 확인"|add_error_class:"error" }}
          {% for error in form.password2.errors %}
            <div class="error-message">{{ error }}</div>
          {% endfor %}
        </div>
        <button class="gopwreset" type="submit">완료</button>
      </form>

  </div>
</body>
</html>
